@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Ticketing Sytem</h1>
    <br>
    <button type="button" class="btn btn-link" onclick="location.href='@Url.Action("index","Tickets")'">View Available Tickets</button>
    <button type="button" class="btn btn-link" onclick="location.href='@Url.Action("Manage","Home")'">Access Policy</button>
</div>
